#!/usr/bin/env bash

eval "$(devenv direnvrc)"

# You can pass flags to the devenv command
# For example: use devenv --impure --option services.postgres.enable:bool true
use devenv

export PROJECT_ROOT="${PWD}"
export KUBECONFIG="${PROJECT_ROOT}/fake-vault/.kube/k3s.yaml"
export SOPS_AGE_KEY_FILE="${PROJECT_ROOT}/fake-vault/age-key.txt"
