repositories:
  - name: istio
    url: https://istio-release.storage.googleapis.com/charts
  - name: kiali
    url: https://kiali.org/helm-charts
  # - name: bedag
  #   url: https://bedag.github.io/helm-charts
  - name: stakater
    url: ghcr.io/stakater/charts
    oci: true
---
templates:
  service-tmpl: &service-release
    chart: stakater/application
    name: service-x
    namespace: "{{`{{ .Release.Name }}`}}"
    createNamespace: true
    # installed: false
    labels:
      app: "{{`{{ .Release.Name }}`}}"
      part-of: all-services
    needs:
      - istio-system/istiod
    values:
      - ./services/default-values.yaml.gotmpl
      - ./services/{{`{{ .Release.Name }}`}}-values.yaml.gotmpl
    # wait: true
    hooks:
      - events:
          - presync
        showlogs: true
        command: sh
        args:
          - -c
          - kubectl create namespace {{`{{ .Release.Namespace }}`}} --dry-run=client -o yaml | kubectl apply -f -
      - events:
          - presync
        showlogs: true
        command: sh
        args:
          - -c
          - kubectl label --dry-run=client -o yaml --overwrite namespace {{`{{ .Release.Namespace }}`}} istio-injection=enabled | kubectl apply -f -
releases:
  - chart: istio/base
    name: istio-base
    namespace: istio-system
    labels:
      crd: "true"
      app: istio
  - chart: istio/istiod
    name: istiod
    namespace: istio-system
    labels:
      app: istio
    needs:
      - istio-system/istio-base
    values:
      - profile: demo
  - chart: kiali/kiali-operator
    name: kiali-operator
    namespace: kiali-operator
    labels:
      crd: "true"
      app: kiali
    needs:
      - istio-system/istiod
    values:
      - ./kiali/values.yaml.gotmpl
  - name: service-1
    labels:
      deployment: yaml
    inherit:
      - template: service-tmpl
  - name: service-2
    inherit:
      - template: service-tmpl
  - name: service-3
    inherit:
      - template: service-tmpl

