repositories:
  - name: istio
    url: https://istio-release.storage.googleapis.com/charts
  - name: kiali
    url: https://kiali.org/helm-charts
  - name: prometheus-community
    url: ghcr.io/prometheus-community/charts
    oci: true
  - name: kedacore
    url: https://kedacore.github.io/charts
  # - name: bedag
  #   url: https://bedag.github.io/helm-charts
  - name: cert-manager
    url: https://charts.jetstack.io
  - name: stakater
    url: ghcr.io/stakater/charts
    oci: true
---
templates:
  service-tmpl: &service-release
    chart: stakater/application
    name: service-x
    namespace: "{{`{{ .Release.Name }}`}}"
    createNamespace: true
    # installed: false
    labels:
      app: "{{`{{ .Release.Name }}`}}"
      part-of: all-services
    needs:
      - istio-system/istio
      - monitoring/kps
      - monitoring/keda
    values:
      - ./services/default-values.yaml.gotmpl
      - ./services/{{`{{ .Release.Name }}`}}-values.yaml.gotmpl
    # wait: true
    hooks:
      - events:
          - presync
        showlogs: true
        command: sh
        args:
          - -c
          - kubectl create namespace {{`{{ .Release.Namespace }}`}} --dry-run=client -o yaml | kubectl apply -f -
      - events:
          - presync
        showlogs: true
        command: sh
        args:
          - -c
          - kubectl label --dry-run=client -o yaml --overwrite namespace {{`{{ .Release.Namespace }}`}} istio-injection=enabled | kubectl apply -f -
releases:
  - chart: bedag/raw
    name: istio
    namespace: istio-system
    labels:
      crd: "true"
      app: istio
    values:
      - ./istio/values.yaml.gotmpl
  - chart: kiali/kiali-operator
    name: kiali-operator
    namespace: kiali-operator
    labels:
      crd: "true"
      app: kiali
    needs:
      - istio-system/istio
    values:
      - ./kiali/values.yaml.gotmpl
  - chart: prometheus-community/kube-prometheus-stack
    name: kps
    namespace: monitoring
    labels:
      crd: "true"
      app: kps
    needs:
      - istio-system/istio
    values:
      - ./kube-prometheus-stack/values.yaml.gotmpl
  - chart: kedacore/keda
    name: keda
    namespace: monitoring
    labels:
      crd: "true"
      app: keda
    needs:
      - monitoring/kps
    values:
      - ./keda/values.yaml.gotmpl
  - chart: cert-manager/cert-manager
    name: cert-manager
    namespace: cert-manager
    labels:
      crd: "true"
      app: cert-manager
    values:
      - ./cert-manager/values.yaml.gotmpl
  - chart: bedag/raw
    name: cert-manager-extras
    namespace: cert-manager
    labels:
      app: cert-manager
    needs:
      - cert-manager/cert-manager
    values:
      - ./cert-manager/extras-values.yaml.gotmpl
  - name: service-1
    labels:
      deployment: yaml
    inherit:
      - template: service-tmpl
  - name: service-2
    inherit:
      - template: service-tmpl
  - name: service-3
    inherit:
      - template: service-tmpl

