# TODO: fix RBAC access denied when svc1->sv2
extraObjects:
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-2-only-from-service-1
    spec:
      action: ALLOW
      rules:
        - from:
            - source:
                principals:
                  - cluster.local/ns/service-1/sa/service-1
  dr-service-2:
    apiVersion: networking.istio.io/v1beta1
    kind: DestinationRule
    metadata:
      name: service-2-mtls
    spec:
      host: service-2.service-2.svc.cluster.local
      # host: '*.service-2.svc.cluster.local'
      exportTo:
        - "*"
      trafficPolicy:
        tls:
          mode: ISTIO_MUTUAL
