# deployment:
#   image:
#     repository: nginx:stable-alpine
extraObjects:
  ra:
    apiVersion: security.istio.io/v1beta1
    kind: RequestAuthentication
    metadata:
      name: service-1-jwt
    spec:
      jwtRules:
        - issuer: https://desafio-devops.local
          audiences:
            - "{{`{{ .Release.Name }}`}}"
          jwks: |
            {{ readFile "../../fake-vault/jwt/jwks.json" | nindent 12 }}
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-1-requires-jwt
    spec:
      action: ALLOW
      rules:
        - when:
            - key: request.auth.principal
              values:
                - "*"
  dr-service-2:
    apiVersion: networking.istio.io/v1beta1
    kind: DestinationRule
    metadata:
      name: service-2-mtls
    spec:
      host: service-2.service-2
      # host: service-2.service-2.svc.cluster.local
      trafficPolicy:
        tls:
          mode: ISTIO_MUTUAL
  gw-service-1:
    apiVersion: networking.istio.io/v1beta1
    kind: Gateway
    metadata:
      name: service-1-gateway
    spec:
      selector:
        istio: ingressgateway
      servers:
        - port:
            number: 80
            name: http
            protocol: HTTP
          hosts:
            - "*"
  vs-external-service-1:
    apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: service-1-external-route
    spec:
      hosts:
        - "*"
      gateways:
        - service-1-gateway
      http:
        - match:
            - uri:
                prefix: /service-1
          route:
            - destination:
                host: service-1
                port:
                  number: 80
        - match:
            - uri:
                prefix: /service-2
          route:
            - destination:
                host: service-2.service-2
                port:
                  number: 80
