extraObjects:
  ra:
    apiVersion: security.istio.io/v1beta1
    kind: RequestAuthentication
    metadata:
      name: service-3-jwt
    spec:
      jwtRules:
        - issuer: https://desafio-devops.local
          audiences:
            - "{{`{{ .Release.Name }}`}}"
          jwks: |
            {{ readFile "../../fake-vault/jwt/jwks.json" | nindent 12 }}
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-3-only-gateway
    spec:
      action: ALLOW
      rules:
        - from:
          - source:
              principals:
                - cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account
          when:
            - key: request.auth.principal
              values:
                - "*"
  # deny-from-service-1-2:
  #   apiVersion: security.istio.io/v1beta1
  #   kind: AuthorizationPolicy
  #   metadata:
  #     name: deny-service-1-and-service-2
  #   spec:
  #     action: DENY
  #     rules:
  #       - from:
  #           - source:
  #               namespaces:
  #                 - service-1
  #                 - service-2
  gw-service-3:
    apiVersion: networking.istio.io/v1beta1
    kind: Gateway
    metadata:
      name: service-3-gateway
    spec:
      selector:
        istio: ingressgateway
      servers:
        - port:
            number: 80
            name: http
            protocol: HTTP
          hosts: &hosts
            - service-3.desafio-devops.local
            - service-3.desafio-devops.lucasfcnunes.com
        - port:
            number: 443
            name: https
            protocol: HTTPS
          hosts: *hosts
          tls:
            mode: SIMPLE
            credentialName: &cert service-3-cert
  cert-service-3:
    apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: *cert
      namespace: istio-system
    spec:
      issuerRef:
        name: default-issuer
        kind: ClusterIssuer
      secretName: *cert
      dnsNames: *hosts
  vs-external-service-3:
    apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: service-3-external-route
    spec:
      hosts: *hosts
      gateways:
        - service-3-gateway
      http:
        - route:
            - destination:
                host: service-3.service-3.svc.cluster.local
                port:
                  number: 80
          match:
            - uri:
                regex: &rs3 /service-3(/|$)(.*)
          rewrite:
            uriRegexRewrite:
              match: *rs3
              rewrite: /\2
