# TODO: fix RBAC access denied when svc1->sv2
extraObjects:
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-2-only-from-service-1
    spec:
      action: ALLOW
      rules:
        - from:
            - source:
                principals:
                  - cluster.local/ns/service-1/sa/service-1
          when:
            - key: request.auth.principal
              values:
                - "*"
