extraObjects:
  ra:
    apiVersion: security.istio.io/v1beta1
    kind: RequestAuthentication
    metadata:
      name: service-3-jwt
    spec:
      jwtRules:
        - issuer: https://desafio-devops.local
          audiences:
            - "{{`{{ .Release.Name }}`}}"
          jwks: |
            {{ readFile "../../fake-vault/jwt/jwks.json" | nindent 12 }}
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-3-requires-jwt
    spec:
      action: ALLOW
      rules:
        - when:
            - key: request.auth.principal
              values:
                - "*"
  gw-service-3:
    apiVersion: networking.istio.io/v1beta1
    kind: Gateway
    metadata:
      name: service-3-gateway
    spec:
      selector:
        istio: ingressgateway
      servers:
        - port:
            number: 80
            name: http
            protocol: HTTP
          hosts:
            - "*"
  vs-external-service-3:
    apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: service-3-external-route
    spec:
      hosts:
        - "*"
      gateways:
        - service-3-gateway
      http:
        - match:
            - uri:
                prefix: /service-3
          route:
            - destination:
                host: service-3
                port:
                  number: 80
  deny-from-service-1-2:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: deny-service-1-and-service-2
    spec:
      action: DENY
      rules:
        - from:
            - source:
                namespaces:
                  - service-1
                  - service-2
