# deployment:
#   image:
#     repository: nginx:stable-alpine
extraObjects:
  ra:
    apiVersion: security.istio.io/v1beta1
    kind: RequestAuthentication
    metadata:
      name: service-1-jwt
    spec:
      jwtRules:
        - issuer: https://desafio-devops.local
          audiences:
            - "{{`{{ .Release.Name }}`}}"
          jwks: |
            {{ readFile "../../fake-vault/jwt/jwks.json" | nindent 12 }}
  ap:
    apiVersion: security.istio.io/v1beta1
    kind: AuthorizationPolicy
    metadata:
      name: service-1-requires-jwt
    spec:
      action: ALLOW
      rules:
        - #
          # from:
          #   - source:
          #       requestPrincipals:
          #         - "*"
          when:
            - key: request.auth.principal
              values:
                - "*"
  gw-service-1:
    apiVersion: networking.istio.io/v1beta1
    kind: Gateway
    metadata:
      name: service-1-gateway
    spec:
      selector:
        istio: ingressgateway
      servers:
        - port:
            number: 80
            name: http
            protocol: HTTP
          hosts: &hosts
            - service-1.desafio-devops.local
            - service-1.desafio-devops.lucasfcnunes.com
          tls:
            httpsRedirect: true
        - port:
            number: 443
            name: https
            protocol: HTTPS
          hosts: *hosts
          tls:
            mode: SIMPLE
            credentialName: &cert service-1-cert
  cert-service-1:
    apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: *cert
      namespace: istio-system
    spec:
      issuerRef:
        name: default-issuer
        kind: ClusterIssuer
      secretName: *cert
      dnsNames: *hosts
  vs-external-service-1:
    apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: service-1-external-route
    spec:
      hosts: *hosts
      gateways:
        - service-1-gateway
      http:
        - route:
            - destination:
                host: service-2.service-2.svc.cluster.local
                port:
                  number: 80
          match:
            - uri:
                regex: &rs2 /service-2(/|$)(.*)
          rewrite:
            uriRegexRewrite:
              match: *rs2
              rewrite: /\2
        - route:
            - destination:
                host: service-1.service-1.svc.cluster.local
                port:
                  number: 80
          match:
            - uri:
                regex: &rs1 /service-1(/|$)(.*)
          rewrite:
            uriRegexRewrite:
              match: *rs1
              rewrite: /\2
